# Flutter & Dart
**/build/
**/.dart_tool/
**/.idea/
**/.packages
**/.flutter-plugins
**/.metadata
**/pubspec.lock

# Node.js
backend/node_modules/
backend/package-lock.json

# General
.env
.DS_Store
*.iml
